<!DOCTYPE html>
<html>

<head>
  <title>Infomation</title>
  <%- include('./partials/head'); %>
</head>

<body>
  <%- include('./partials/header'); %>  
  <div class="container-fluid mt-4">
    <div class="d-flex" style="height: 30px; justify-content: flex-end;">
      <b>Login by user </b>
    </div>
    <div class="row">
      <div class="col-sm-3">

        <div class="card">
          <div class="card-header">
            <h4>Tournament</h4>
          </div>
          <div class="list-group list-group-flush">
            <div class="list-group-item list-group-item-action">
              <a href="#" class="d-flex" style="justify-content:center;">
                The Lion Tournament 2 days left will take place
                <button type="button" class="btn btn-outline-success" style=" height: 35px;"> <i class="fa fa-pencil" aria-hidden="true"></i>Join</button>
              </a>
            </div>
            <div class="list-group-item list-group-item-action">
              <a href="#" class="d-flex" style="justify-content:center;">
                The Lion Tournament 2 days left will take place
                <button type="button" class="btn btn-outline-success" style=" height: 35px;"> <i class="fa fa-pencil" aria-hidden="true"></i>Join</button>
              </a>
            </div>
            <div class="list-group-item list-group-item-action">
              <a href="#" class="d-flex" style="justify-content:center;">
                The Lion Tournament 2 days left will take place
                <button type="button" class="btn btn-outline-success" style=" height: 35px;"> <i class="fa fa-pencil" aria-hidden="true"></i>Join</button>
              </a>
            </div>
            <div class="list-group-item list-group-item-action">
              <a href="#" class="d-flex" style="justify-content:center;">
                The Lion Tournament 2 days left will take place
                <button type="button" class="btn btn-outline-success" style=" height: 35px;"> <i class="fa fa-pencil" aria-hidden="true"></i>Join</button>
              </a>
            </div>
            <div class="list-group-item list-group-item-action">
              <a href="#" class="d-flex" style="justify-content:center;">
                The Lion Tournament 2 days left will take place
                <button type="button" class="btn btn-outline-success" style=" height: 35px;"> <i class="fa fa-pencil" aria-hidden="true"></i>Join</button>
              </a>
            </div>
            <div class="list-group-item list-group-item-action">
              <a href="#" class="d-flex" style="justify-content:center;">
                The Lion Tournament 2 days left will take place
                <button type="button" class="btn btn-outline-success" style=" height: 35px;"> <i class="fa fa-pencil" aria-hidden="true"></i>Join</button>
              </a>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h4>security</h4>
          </div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action active">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item list-group-item-action">Change the password</a>
            <a href="#" class="list-group-item list-group-item-action">Increase security level</a>
            
      
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <h5 class="card-header">Infomation of player</h5>
          <div class="card-body">
            <table class="table table-hover mb-0">
              <tbody>
                <tr>
                  <th scope="row">Full Name</th>
                  <td><%= info.HoTen%></td>
                  <td><button type="button" class="btn btn-outline-success"> <i class="fa fa-pencil" aria-hidden="true"></i>Change</button></td>
                </tr>
                <tr>
                  <th scope="row">Password</th>
                  <td>*****************</td>
                  <td><button type="button" class="btn btn-outline-success"> <i class="fa fa-pencil" aria-hidden="true"></i>Change</button></td>
                </tr>
                <tr>
                  <th scope="row">Date of Born</th>
                  <td ><%= info.NgaySinh%></td>
                  <td><button type="button" class="btn btn-outline-success"> <i class="fa fa-pencil" aria-hidden="true"></i>Change</button></td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td ><%= info.Email%></td>
                  <td><button type="button" class="btn btn-outline-success"> <i class="fa fa-pencil" aria-hidden="true"></i>Change</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- contact_rsvp -->
  <div class="contact_rsvp">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="text text-center">
            <h3>Contact AFK Group</h3>
            <a class="boxed-btn3" href="contact.html">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ contact_rsvp -->

  <!-- footer start -->
  <footer class="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-md-6">
            <div class="footer_widget">
              <h3 class="footer_title">
                Services
              </h3>
              <div class="subscribe-from">
                <form action="#">
                  <input type="text" placeholder="Enter your feedback">
                  <button type="submit">Send</button>
                </form>
              </div>
              <p class="sub_text">Please send us feedback if you have any questions for us.</p>
            </div>
          </div>
          <div class="col-xl-5 col-md-5 offset-xl-1">
            <div class="footer_widget">
              <h3 class="footer_title">
                Contact Us
              </h3>
              <ul>
                <li><a href="#">AFKTeam@support.com
                  </a></li>
                <li><a href="#">+84123456789
                  </a></li>
                <li><a href="#">Dormitory zone B, Di An, Binh Duong</a></li>
              </ul>
              <div class="socail_links">
                <ul>
                  <li>
                    <a href="#">
                      <i class=" fa fa-facebook "></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right_text">
      <div class="container">
        <div class="footer_border"></div>
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <p class="copy_right">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved </a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="footer_links">
              <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">tracks</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> 

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous">
    </script>
  <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/js/jquery.magnific-popup.min.js"></script>
    <script src="js/js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>



    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/js/jquery.magnific-popup.min.js"></script>
    <script src="js/js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    
    <script src="js/js/main.js"></script>

    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
</body>

</html>