<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <title>Search</title>
    <%- include('./partials/head'); %>
    
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('./partials/header'); %>  
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text ">
                        
                        <form class="form-inline my-2 my-lg-0 my-lg-0 justify-content-center"
                        style="display: flex !important;">
                            <input type="hidden" name="VongDau" value="<%= VongDau%>"> 
                            <input type="hidden" name="MuaGiai" value="<%= MuaGiai%>"> 
                            <input class="form-control mr-sm-2 fs-17 sizefull" type="text" name="name"
                                placeholder="Nhập tên cầu thủ" aria-label="Search" vongdau = "2"
                                style="width: 80%; height: 55px; background: #f1f1f1; border: 1px solid #696464;">
                            <button
                                class="btn btn-info my-2 my-sm-0 fs-17"
                                style="width: 86px; height: 55px; border: 1px solid grey; background: #2196F3; color:white"
                                type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <!-- music_area  -->
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mùa Giải
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/match?MuaGiai=2020">2020</a>
                  <a class="dropdown-item" href="/match?MuaGiai=2021">2021</a>
                </div>
              </div>
        <% if(name){ %>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=1&name=<%= name%>">Vòng 16</a></li>
        <% } else{ %>  
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=1%>">Vòng 16</a></li>
        <% } %>
        <% if(name){ %>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=2&name=<%= name%>">Vòng 8</a></li>
        <% } else{ %>  
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=2%>">Vòng 8</a></li>
        <% } %>
        <% if(name){ %>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=3&name=<%= name%>">Tứ Kết</a></li>
        <% } else{ %>  
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=3%>">Tứ Kết</a></li>
        <% } %>
        <% if(name){ %>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=4&name=<%= name%>">Bán Kết</a></li>
        <% } else{ %>  
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=4%>">Bán Kết</a></li>
        <% } %>
        <% if(name){ %>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=5&name=<%= name%>">Chung Kết</a></li>
        <% } else{ %>  
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=5%>">Chung Kết</a></li>
        <% } %>
        </ul>
      </nav>
      <div style="display: block;
      margin-left: auto;
      margin-right: auto ">
          <!-- Progress bar 1 -->
          <!-- END -->

          <!-- Demo info -->
          <% for(var i = 0; i < results.recordset.length; i++) { %>
                <div class="bg-white rounded-lg shadow p-4" style="width : 1150px; margin-left: 150px !important;">
                  <!-- Progress bar 1 -->
                  <!-- END -->

                  <!-- Demo info -->
                  <div class="row text-center mt-4" style="width : 1100px; margin-left: 0px !important;">
                    <div class="col-6 border-right">
                      <img src="./img/about.jpg" alt="logo" style="width : 100px; height :100px"
                        class="figure float-left">
                      <div class="h4 font-weight-bold figure"><%= results.recordset[i].HoTen1%></div>
                      <div style="height: 25px;"></div>
                      <% if(results.recordset[i].KQ == results.recordset[i].CT1){ %>
                        <div class="h4 font-weight-bold" style="color: red;">Thắng</div>
                    <% } else{ %>  
                        <div class="h4 font-weight-bold">Thua</div>
                    <% } %>
                    </div>
                    <div class="col-6 border-left">
                      <div class="float-left figure">
                        <div class="h4 font-weight-bold figure" style="margin-left: 80px"><%= results.recordset[i].HoTen2%></div>
                        <div style="height: 25px;"></div>
                        <% if(results.recordset[i].KQ == results.recordset[i].CT2){ %>
                            <div class="h4 font-weight-bold" style="margin-left: 80px; color: red;">Thắng</div>
                        <% } else{ %>  
                            <div class="h4 font-weight-bold" style="margin-left: 80px">Thua</div>
                        <% } %>
                      </div>
                      <img src="./img/about.jpg" alt="logo" style="width : 100px; height :100px" class = "figure float-right">
                    </div>
                  </div>
                  <!-- END -->
                </div>
          <div style="height: 20px;"></div>
          <% } %>
          <ul class="pagination pagination-lg justify-content-center" style="margin:20px 0">
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=<%= VongDau%>&name=<%= name%>&page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=<%= VongDau%>&name=<%= name%>&page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=<%= VongDau%>&name=<%= name%>&page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="/match?MuaGiai=<%= MuaGiai%>&vongdau=<%= VongDau%>&name=<%= name%>&page=4">4</a></li>
          </ul>
        </div>
          <!-- END -->
    <!-- contact_rsvp -->
    <div class="contact_rsvp">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text text-center">
                        <h3>Contact AFK Group</h3>
                        <a class="boxed-btn3" href="contact.html">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ contact_rsvp -->
    </div>
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                            <div class="footer_widget">
                                    <h3 class="footer_title">
                                            Services
                                    </h3>
                                <div class="subscribe-from">
                                        <form action="#">
                                                <input type="text" placeholder="Enter your feedback">
                                                <button type="submit" >Send</button>
                                            </form>
                                </div>
                                <p class="sub_text">Please send us feedback if you have any questions for us.</p>
                                </div>
                    </div>
                    <div class="col-xl-5 col-md-5 offset-xl-1">
                        <div class="footer_widget">
                                <h3 class="footer_title">
                                        Contact Us
                                </h3>
                            <ul>
                                <li><a href="#">AFKTeam@support.com
                                    </a></li>
                                <li><a href="#">+84123456789
                                    </a></li>
                                <li><a href="#">Dormitory zone B, Di An, Binh Duong</a></li>
                            </ul>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class=" fa fa-facebook "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-7 col-md-6">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6">
                        <div class="footer_links">
                            <ul>
                                <li><a href="#">home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">tracks</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->

    <!-- JS here -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous">
    </script>
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/audioplayer.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/slick.min.js"></script>
    <!--contact js-->


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/js/jquery.magnific-popup.min.js"></script>
    <script src="js/js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    
    <script src="js/js/main.js"></script>

    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>