<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%- include('./partials/head'); %>
  
</head>

<body class="bradcam_area breadcam_bg_2" style="padding:0px !important ;">
  
  <%- include('./partials/header'); %>

  
  <div class="bradcam_area breadcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3>Tournament</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
 
 
  <div style="height: 30px;"></div>
  </div>
  
  <form method="POST" action ="/admin/tournament?tour=<%=method%>">
  <div class="d-flex justify-content-around input-group" style="margin-top:50px ;">
    <div>
      <h4>Name of tournament : </h4>
      <input type="text" name="nameOfTour" id="" class="form-control input-border"<% if (locals.nameOfTour) {%> value="<%=nameOfTour%>" <%}else{%> value="" <%}%> " placeholder="Name" />
    </div>
    <div>
    
      <h4>Start date : </h4>
      <input type="text" name="dateTour" id="datepicker" class="form-control input-border" <% if (locals.dateTour) {%> value="<%=dateTour%>" <%}else{%> value="" <%}%> 
        style="border: 1px solid rgb(109, 109, 109) !important; border-radius: 5px; height: 40px !important;" />
    </div>
  </div>
  <div class="input-group-lg">
    <h4>The venue of the tournament
    </h4>
    <input type="text" name = "address" class="form-control input-border" <% if (locals.address) {%> value="<%=address%>" <%}else{%> value="" <%}%>  style="height: 100px !important; font-size: small;">
  </div>
  <div class="input-group-lg">
    <h4>Description
    </h4>
    <input type="text" name = "des" class="form-control input-border" <% if (locals.des) {%> value="<%=des%>" <%}else{%> value="" <%}%> style="height: 100px !important; font-size: small;">
  </div>

  <div class="d-flex flex-column justify-content-center" style="margin-top: 100px">
    <h1 style="text-align: center;">Table A</h1>
    <table class="table">
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="1A" class="block"><%if (locals.vong3) {%><%if (vong3[0]) {%><%=vong3[0].KetQua%><%}%><%}%> </td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="2A" class="block"><%if (locals.vong2) {%><%if (vong2[0]) {%><%=vong2[0].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="3A" class="block"><%if (locals.vong2) {%><%if (vong2[1]) {%><%=vong2[1].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td id="4A" class="block"><%if (locals.vong1) {%><%if (vong1[0]) {%><%=vong1[0].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="5A" class="block"><%if (locals.vong1) {%><%if (vong1[1]) {%><%=vong1[1].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="6A" class="block"><%if (locals.vong1) {%><%if (vong1[2]) {%><%=vong1[2].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="7A" class="block"><%if (locals.vong1) {%><%if (vong1[3]) {%><%=vong1[3].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td id="8A" class="block"><%if (locals.vong1) {%><%if (vong1[0]) {%><%=vong1[0].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="9A" class="block"><%if (locals.vong1) {%><%if (vong1[0]) {%><%=vong1[0].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="10A" class="block"><%if (locals.vong1){%><%if (vong1[1]) {%><%=vong1[1].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="11A" class="block"><%if (locals.vong1){%><%if (vong1[1]) {%><%=vong1[1].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="12A" class="block"><%if (locals.vong1){%><%if (vong1[2]) {%><%=vong1[2].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="13A" class="block"><%if (locals.vong1){%><%if (vong1[2]) {%><%=vong1[2].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="14A" class="block"><%if (locals.vong1){%><%if (vong1[3]) {%><%=vong1[3].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="15A" class="block"><%if (locals.vong1){%><%if (vong1[3]) {%><%=vong1[3].CauThu2%><%}%><%}%></td>
      </tr>
    </table>
    
  </div>

  <div class="d-flex flex-column justify-content-center" style="margin-top: 100px">
    <h1 style="text-align: center;">Table B</h1>
    <table class="table">
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="1B" class="block"><%if (locals.vong3) {%><%if (vong3[1]) {%><%=vong3[1].KetQua%><%}%><%}%>  </td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="2B" class="block"><%if (locals.vong2) {%><%if (vong2[2]) {%><%=vong2[2].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="3B" class="block"><%if (locals.vong2) {%><%if (vong2[3]) {%><%=vong2[3].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td id="4B" class="block"><%if (locals.vong1) {%><%if (vong1[4]) {%><%=vong1[4].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="5B" class="block"><%if (locals.vong1) {%><%if (vong1[5]) {%><%=vong1[5].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="6B" class="block"><%if (locals.vong1) {%><%if (vong1[6]) {%><%=vong1[6].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="7B" class="block"><%if (locals.vong1) {%><%if (vong1[7]) {%><%=vong1[7].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td id="8B" class="block"><%if (locals.vong1) {%><%if (vong1[4]) {%><%=vong1[4].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="9B" class="block"><%if (locals.vong1) {%><%if (vong1[4]) {%><%=vong1[4].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="10B" class="block"><%if (locals.vong1) {%><%if (vong1[5]) {%><%=vong1[5].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="11B" class="block"><%if (locals.vong1) {%><%if (vong1[5]) {%><%=vong1[5].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="12B" class="block"><%if (locals.vong1) {%><%if (vong1[6]) {%><%=vong1[6].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="13B" class="block"><%if (locals.vong1) {%><%if (vong1[6]) {%><%=vong1[6].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="14B" class="block"><%if (locals.vong1) {%><%if (vong1[7]) {%><%=vong1[7].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="15B" class="block"><%if (locals.vong1) {%><%if (vong1[7]) {%><%=vong1[7].CauThu2%><%}%><%}%></td>
      </tr>
    </table>
    
  </div>

  <div class="d-flex flex-column justify-content-center" style="margin-top: 100px">
    <h1 style="text-align: center;">Table C</h1>
    <table class="table">
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="1C" class="block"><%if (locals.vong3) {%><%if (vong3[2]) {%><%=vong3[2].KetQua%><%}%><%}%>  </td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="2C" class="block"><%if (locals.vong2) {%><%if (vong2[4]) {%><%=vong2[5].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="3C" class="block"><%if (locals.vong2) {%><%if (vong2[5]) {%><%=vong2[5].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td id="4C" class="block"><%if (locals.vong1) {%><%if (vong1[8]) {%><%=vong1[8].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="5C" class="block"><%if (locals.vong1) {%><%if (vong1[9]) {%><%=vong1[9].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="6C" class="block"><%if (locals.vong1) {%><%if (vong1[10]) {%><%=vong1[10].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="7C" class="block"><%if (locals.vong1) {%><%if (vong1[11]) {%><%=vong1[11].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td id="8C" class="block"><%if (locals.vong1) {%><%if (vong1[8]) {%><%=vong1[8].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="9C" class="block"><%if (locals.vong1) {%><%if (vong1[8]) {%><%=vong1[8].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="10C" class="block"><%if (locals.vong1) {%><%if (vong1[9]) {%><%=vong1[9].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="11C" class="block"><%if (locals.vong1) {%><%if (vong1[9]) {%><%=vong1[9].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="12C" class="block"><%if (locals.vong1) {%><%if (vong1[10]) {%><%=vong1[10].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="13C" class="block"><%if (locals.vong1) {%><%if (vong1[10]) {%><%=vong1[10].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="14C" class="block"><%if (locals.vong1) {%><%if (vong1[11]) {%><%=vong1[11].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="15C" class="block"><%if (locals.vong1) {%><%if (vong1[11]) {%><%=vong1[11].CauThu2%><%}%><%}%></td>
      </tr>
    </table>
    
  </div>

  <div class="d-flex flex-column justify-content-center" style="margin-top: 100px">
    <h1 style="text-align: center;">Table D</h1>
    <table class="table">
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="1D" class="block"><%if (locals.vong3) {%><%if (vong3[3]) {%><%=vong3[3].KetQua%><%}%><%}%> </td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="2D" class="block"><%if (locals.vong2) {%><%if (vong2[6]) {%><%=vong2[6].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="3D" class="block"><%if (locals.vong2) {%><%if (vong2[7]) {%><%=vong2[7].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td id="4D" class="block"><%if (locals.vong1) {%><%if (vong1[12]) {%><%=vong1[12].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="5D" class="block"><%if (locals.vong1) {%><%if (vong1[13]) {%><%=vong1[13].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="6D" class="block"><%if (locals.vong1) {%><%if (vong1[14]) {%><%=vong1[14].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="7D" class="block"><%if (locals.vong1) {%><%if (vong1[15]) {%><%=vong1[15].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td id="8D" class="block"><%if (locals.vong1) {%><%if (vong1[12]) {%><%=vong1[12].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="9D" class="block"><%if (locals.vong1) {%><%if (vong1[12]) {%><%=vong1[12].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="10D" class="block"><%if (locals.vong1) {%><%if (vong1[13]) {%><%=vong1[13].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="11D" class="block"><%if (locals.vong1) {%><%if (vong1[13]) {%><%=vong1[13].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="12D" class="block"><%if (locals.vong1) {%><%if (vong1[14]) {%><%=vong1[14].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="13D" class="block"><%if (locals.vong1) {%><%if (vong1[14]) {%><%=vong1[14].CauThu2%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="14D" class="block"><%if (locals.vong1) {%><%if (vong1[15]) {%><%=vong1[15].CauThu1%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="15D" class="block"><%if (locals.vong1) {%><%if (vong1[15]) {%><%=vong1[15].CauThu2%><%}%><%}%></td>
      </tr>
    </table>
    
  </div>

  <div class="d-flex flex-column justify-content-center" style="margin-top: 100px">
    <h1 style="text-align: center;">Final</h1>
    <table class="table">
      <tr>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="1X" class="block"><%if (locals.vong5) {%><%if (vong5[0]) {%><%=vong5[0].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td class="notblock"></td>
        <td id="2X" class="block"><%if (locals.vong4) {%><%if (vong4[0]) {%><%=vong4[0].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td class="notblock"></td>
        <td id="3X" class="block"><%if (locals.vong4) {%><%if (vong4[0]) {%><%=vong4[0].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
      </tr>
      <tr>
        <td id="4X" class="block"><%if (locals.vong3) {%><%if (vong3[0]) {%><%=vong3[0].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="5X" class="block"><%if (locals.vong3) {%><%if (vong3[1]) {%><%=vong3[1].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="6X" class="block"><%if (locals.vong3) {%><%if (vong3[2]) {%><%=vong3[2].KetQua%><%}%><%}%></td>
        <td class="notblock"></td>
        <td id="7X" class="block"><%if (locals.vong3) {%><%if (vong3[3]) {%><%=vong3[3].KetQua%><%}%><%}%></td>
      </tr>
    </table>
    <div class="d-flex justify-content-around">
      <% if (method != 'create'){ %>
      <button value = "<%=method%>" type="submit" class="btn btn-success btn-lg arrange">Arrange this match</button>
      <%}%>
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
    <div style="height: 60px;"></div>
  </div>
</form>
  <!-- contact_rsvp -->
  <div class="contact_rsvp">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="text text-center">
            <h3>Contact AFK Group</h3>
            <a class="boxed-btn3" href="contact.html">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ contact_rsvp -->

  <!-- footer start -->
  <footer class="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-md-6">
            <div class="footer_widget">
              <h3 class="footer_title">
                Services
              </h3>
              <div class="subscribe-from">
                <form action="#">
                  <input type="text" placeholder="Enter your feedback">
                  <button type="submit">Send</button>
                </form>
              </div>
              <p class="sub_text">Please send us feedback if you have any questions for us.</p>
            </div>
          </div>
          <div class="col-xl-5 col-md-5 offset-xl-1">
            <div class="footer_widget">
              <h3 class="footer_title">
                Contact Us
              </h3>
              <ul>
                <li><a href="#">AFKTeam@support.com
                  </a></li>
                <li><a href="#">+84123456789
                  </a></li>
                <li><a href="#">Dormitory zone B, Di An, Binh Duong</a></li>
              </ul>
              <div class="socail_links">
                <ul>
                  <li>
                    <a href="#">
                      <i class=" fa fa-facebook "></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right_text">
      <div class="container" style="margin-top:0px !important">
        <div class="footer_border"></div>
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <p class="copy_right">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved </a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="footer_links">
              <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">tracks</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<% if (locals.messErr) {%>
  <div id ="error"></div>
  <%}%>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= messErr%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/ajax-form.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/audioplayer.js"></script>
  <script src="/js/scrollIt.js"></script>
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/nice-select.min.js"></script>
  <script src="/js/jquery.slicknav.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/gijgo.min.js"></script>
  <script src="/js/slick.min.js"></script>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
  <script src="/js/js/main.js"></script>

  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>

  <script src="/js/main.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script>
    var datepicker = new ej.calendars.DatePicker({ width: "255px" });
    datepicker.appendTo('#datepicker');
  </script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/jquery.connections.js"></script>
  <script>
    $(document).ready(function () {
      $('#2A').connections({
        to: '#1A',
      });
      $('#3A').connections({
        to: '#1A',
      });
      $('#4A').connections({
        to: '#2A',
      });
      $('#5A').connections({
        to: '#2A',
      });
      $('#6A').connections({
        to: '#3A',
      });
      $('#7A').connections({
        to: '#3A',
      });
      $('#8A').connections({
        to: '#4A',
      });
      $('#9A').connections({
        to: '#4A',
      });
      $('#10A').connections({
        to: '#5A',
      });
      $('#11A').connections({
        to: '#5A',
      });
      $('#12A').connections({
        to: '#6A',
      });
      $('#13A').connections({
        to: '#6A',
      });
      $('#14A').connections({
        to: '#7A',
      });
      $('#15A').connections({
        to: '#7A',
      });
      $('#2B').connections({
        to: '#1B',
      });
      $('#3B').connections({
        to: '#1B',
      });
      $('#4B').connections({
        to: '#2B',
      });
      $('#5B').connections({
        to: '#2B',
      });
      $('#6B').connections({
        to: '#3B',
      });
      $('#7B').connections({
        to: '#3B',
      });
      $('#8B').connections({
        to: '#4B',
      });
      $('#9B').connections({
        to: '#4B',
      });
      $('#10B').connections({
        to: '#5B',
      });
      $('#11B').connections({
        to: '#5B',
      });
      $('#12B').connections({
        to: '#6B',
      });
      $('#13B').connections({
        to: '#6B',
      });
      $('#14B').connections({
        to: '#7B',
      });
      $('#15B').connections({
        to: '#7B',
      });
      $('#2C').connections({
        to: '#1C',
      });
      $('#3C').connections({
        to: '#1C',
      });
      $('#4C').connections({
        to: '#2C',
      });
      $('#5C').connections({
        to: '#2C',
      });
      $('#6C').connections({
        to: '#3C',
      });
      $('#7C').connections({
        to: '#3C',
      });
      $('#8C').connections({
        to: '#4C',
      });
      $('#9C').connections({
        to: '#4C',
      });
      $('#10C').connections({
        to: '#5C',
      });
      $('#11C').connections({
        to: '#5C',
      });
      $('#12C').connections({
        to: '#6C',
      });
      $('#13C').connections({
        to: '#6C',
      });
      $('#14C').connections({
        to: '#7C',
      });
      $('#15C').connections({
        to: '#7C',
      });
      $('#2D').connections({
        to: '#1D',
      });
      $('#3D').connections({
        to: '#1D',
      });
      $('#4D').connections({
        to: '#2D',
      });
      $('#5D').connections({
        to: '#2D',
      });
      $('#6D').connections({
        to: '#3D',
      });
      $('#7D').connections({
        to: '#3D',
      });
      $('#8D').connections({
        to: '#4D',
      });
      $('#9D').connections({
        to: '#4D',
      });
      $('#10D').connections({
        to: '#5D',
      });
      $('#11D').connections({
        to: '#5D',
      });
      $('#12D').connections({
        to: '#6D',
      });
      $('#13D').connections({
        to: '#6D',
      });
      $('#14D').connections({
        to: '#7D',
      });
      $('#15D').connections({
        to: '#7D',
      });

      $('#3X').connections({
        to: '#1X',
      });
      $('#2X').connections({
        to: '#1X',
      });
      $('#4X').connections({
        to: '#2X',
      });
      $('#5X').connections({
        to: '#2X',
      });
      $('#6X').connections({
        to: '#3X',
      });
      $('#7X').connections({
        to: '#3X',
      });
    });
  </script>
  
</html>
<!doctype html>